<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchuang.mapper.AttractionsMapper">

    <resultMap id="BaseResultMap" type="com.fuchuang.entity.Attractions">
        <id column="id" property="id" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="poi" property="poi" />
        <result column="stars" property="stars" />
    </resultMap>

    <sql id="Base_Column_List">
        id, laitude, longitude,poi,stars
    </sql>

    <update id="explainQuery">
        ${templateName,jdbcType=VARCHAR}
    </update>


</mapper>