<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchuang.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.fuchuang.entity.Message">
        <id column="id" property="id" />
        <result column="message" property="message" />
    </resultMap>

    <sql id="Base_Column_List">
        id, message
    </sql>

</mapper>